<%- include('../includes/head.ejs') %>
    </head>
        <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
    <div class="login-page">
      <form class="login-form" action="/register" method="post">
        <h1>Sign up</h1>
        <div class="group-input">
            <label for="name">Name</label>
            <input type="text" placeholder="name" name="name" id="name"/>
        </div>
        <div class="group-input">
            <label for="email">Email</label>
            <input type="text" placeholder="email" name="email" id="email"/>
        </div>
        <div class="group-input">
            <label for="password">Password</label>
            <input type="password" placeholder="password" name="password" id="password"/>
        </div>
        <button type="submit">
            Sign up
        </button>
      </form>
    </div>
        </main>
        <%- include('../includes/end.ejs') %>